{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}

{% block 'body' %}
<div class="box">
    <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}

        <h1 class="titulo font-degrade borda-bottom-degrade">Recuperar Senha</h2>
            <br>
            <span class="span-descricao">E-mail:</span>
            <input type="text" class="form-control input-cadastro" name="email">
            <br>
            <input class="btn btn-success btn-lg" type="submit" value="Recuperar Senha">
    </form>
    
</div>
{% endblock %}